#box{
    border: 1px solid #000;
    /* background: pink; */
    padding: 10px;
    width: 200px;
    height: 100px;
    overflow: auto;
    background-color: powderblue;
    position: relative;
}

#box p{
    padding: 10px;
    margin: 15px;
}

.tan{
    background-color: tan;
}