#box{
    border: 1px solid #000;
    /* background: pink; */
    padding: 10px;
    width: 40%;
    height: 200px;
    overflow: auto;
    padding: 20px;
    margin: 25;
    background-color: powderblue;
}

#box p{
    padding: 10px;
    margin: 15px;
}

.tan{
    background-color: tan;
}