#box{
    border: 1px solid #000;
    /* background: pink; */
    padding: 10px;
    width: 230px;
    height: 80px;
    /* overflow: auto; */
    padding: 20px;
    margin: 25;
    background-color: powderblue;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

#box p{
    padding: 10px;
    margin: 15px;
}

.tan{
    background-color: tan;
}